# Question 1

Build an IR system based on vector space model.

Requirement:

(1) Input: A query string

(2) Output: Top 3 relevant document ID

(3) Please use the documents under the folder “documents” as the document collection
to build vocabulary

(4) Return the results of the following queries:
[1] University of Macau
[2] Gambling Game
[3] American Football Game

In [1]:
#include os library , since we need to use os.path
import os
# find the path o = osf the file
root = os.path.abspath('.')
print(root)

# concatenate paths
doc_path = os.path.join(root, 'documents')
print(doc_path)

# return directory tree
for root, dirs, files in os.walk(doc_path):
    for file_name in files:
        print(file_name)

/content
/content/documents
doc6.txt
doc2.txt
doc3.txt
doc4.txt
doc10.txt
doc8.txt
doc5.txt
doc9.txt
doc1.txt
doc7.txt

In [3]:
#define a read file io function
def read_file(path):
   #using with to auto collect in i/o in memory , since we have to release it 
    with open(path, 'r') as f:
        content = f.readlines()
    return content

In [2]:
import re
def tokenize(doc):
    # remove punctuation by using this regex
    rule = r'[\s\~\`\!\@\#\$\%\^\&\*\(\)\-\_\+\=\{\}\[\]\;\:\'\"\,\<\.\>\/\?\\|]+'
    re.compile(rule)
    
    # put the words in list
    terms_ = []
    for line in doc:
        terms_ = terms_ + re.split(rule, line.lower())
    
    # remove ' '
    terms = []
    for term in terms_:
        if term != '':
            terms.append(term)
    return terms

In [9]:
from collections import Counter

In [7]:
def processing(path):
    # read file
    doc = read_file(path)
    # tokenize
    terms = tokenize(doc)
    # count term frequency
    term_freq = Counter(terms)
    return dict(term_freq)

In [37]:
root = os.path.abspath('.')
#denote that we know our files are doc1 ~ 11 , so that
# load all files in for loop
termFreqs = []
for i in range(1,11):
  termFreqs.append(processing(os.path.join(root, 'documents', 'doc'+str(i)+'.txt'))) 
   #eval it by dynamic , so below we can easily use it without define again
  #exec("termFreq" + str(i) + " = processing(os.path.join(root, 'documents', 'doc'+str(i)+'.txt'))")

In [48]:
# build vocabulary extract all keys(terms)
#print(termFreqs[0].keys())
vocab = set().union(*(d.keys() for d in termFreqs)) # projection for all the dicts keys to a single list

In [45]:
len(vocab)

687

In [46]:
# build term-doc tf-idf matrix
import numpy as np
import pandas as pd

# initialize with 0
tfidf_mat = pd.DataFrame(np.zeros((len(vocab), 10)), index = vocab)
tfidf_mat

              0    1    2    3    4    5    6    7    8    9
comparable  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2005        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
most        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
grand       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
work        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
centers     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
various     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
what        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
mainland    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[687 rows x 10 columns]

In [49]:
# putting the term freq in the matrix
i=0
for termDict in termFreqs:
    for key, value in termDict.items():
        tfidf_mat.loc[key, i] = value
    i+=1

In [50]:
tfidf_mat

              0    1    2    3    4    5    6    7    8    9
comparable  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2005        0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
most        0.0  0.0  1.0  1.0  0.0  2.0  1.0  1.0  1.0  1.0
grand       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  5.0
work        0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1           0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
centers     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
various     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
what        0.0  0.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0
mainland    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

[687 rows x 10 columns]

In [51]:
# calculate idf
doc_freq = np.count_nonzero(tfidf_mat, axis=1)
doc_freq

array([ 1,  2,  7,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  9,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  4,  1,  1,  1,
        2,  2,  1,  1,  1,  1, 10,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  2,  4,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  5,  2,  1,  1,  1,
        1,  4,  1,  1,  1,  4,  1,  1,  3,  2,  1,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  3,  4,  3,  1,  1,  1,  2,
        1,  1,  1,  1,  6,  1,  3,  1,  1,  1,  1,  2,  2,  1,  1,  1,  7,
        1,  1,  1,  1,  2,  1,  8,  1,  1,  9,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  3,
        1,  1,  1,  1,  1,  8,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  2,  1,  1,  2,
        1,  1,  1,  1,  2,  1,  5,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        5,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  2,  5,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  1,  1,  1,  8,  1,  1,  1,  1,  1,  1,  1,  3,  1,  1,
        1,  2,  2,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  3,  1,  2,  1,  2,  1,  1,  2,  1,  1,  1,
        1,  1,  1,  9,  1,  2,  2,  5,  3,  1,  1,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  2,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  3,  4,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  1,  1,  1,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  4,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, 10,  1,  1,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  2,
        1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        2,  1,  2,  1,  1,  1,  1,  1,  9,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  6,  1,  1,  1,  4,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  1,  2,  1,
        1,  1,  2,  1,  1,  1,  1])

In [52]:
idf = np.log(10/(1+doc_freq))
idf

array([ 1.60943791,  1.2039728 ,  0.22314355,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  0.        ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  0.69314718,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791, -0.09531018,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  0.69314718,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  0.51082562,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  0.69314718,  1.60943791,  1.60943791,
        1.60943791,  0.69314718,  1.60943791,  1.60943791,  0.91629073,
        1.2039728 ,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  0.91629073,  0.69314718,
        0.91629073,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  0.35667494,
        1.60943791,  0.91629073,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  0.22314355,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  0.10536052,  1.60943791,
        1.60943791,  0.        ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        0.91629073,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  0.10536052,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  0.51082562,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  0.51082562,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  0.51082562,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  0.10536052,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  0.91629073,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.2039728 ,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        0.91629073,  1.60943791,  1.2039728 ,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  0.        ,
        1.60943791,  1.2039728 ,  1.2039728 ,  0.51082562,  0.91629073,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        0.91629073,  0.69314718,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  0.69314718,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  0.69314718,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791, -0.09531018,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  0.        ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  0.35667494,
        1.60943791,  1.60943791,  1.60943791,  0.69314718,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.2039728 ,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  0.69314718,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.2039728 ,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.60943791,  1.60943791,  1.60943791,  1.60943791,  1.60943791,
        1.2039728 ,  1.2039728 ,  1.60943791,  1.2039728 ,  1.60943791,
        1.60943791,  1.60943791,  1.2039728 ,  1.60943791,  1.60943791,
        1.60943791,  1.60943791])

In [53]:
idf = np.reshape(idf, (len(idf), 1))
idf.shape

(687, 1)

In [54]:
tfidf_mat = tfidf_mat * idf
tfidf_mat

,0,1,2,3,4,5,6,7,8,9
comparable,0.0,0.0,0.000000,1.609438,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2005,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.203973,0.000000,0.000000,1.203973
most,0.0,0.0,0.223144,0.223144,0.000000,0.446287,0.223144,0.223144,0.223144,0.223144
grand,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.047190
work,0.0,0.0,0.000000,1.609438,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
1,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.203973,0.000000,0.000000,1.203973
centers,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.609438,0.000000
various,0.0,0.0,0.000000,1.609438,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
what,0.0,0.0,0.000000,0.000000,3.218876,0.000000,0.000000,0.000000,0.000000,0.000000
mainland,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.609438,0.000000

In [65]:
# our querys 
querys = ['University of Macau' , 'Gambling Game','American Football Game']

In [62]:
# convert query to tf-idf vector
def query_to_tfidf_vector(query, words):
  q_term = query.lower().split(' ')
  query_df = pd.DataFrame(np.zeros((len(vocab), 1)), index = vocab)
  for term in q_term:
    query_df.loc[term, 0] = 1
  query_tfidf = query_df * idf
  return query_tfidf

In [67]:
querys_tfidf =    [query_to_tfidf_vector(query, vocab)  for query in querys ] 
print(querys_tfidf)

[              0
comparable  0.0
2005        0.0
most        0.0
grand       0.0
work        0.0
...         ...
1           0.0
centers     0.0
various     0.0
what        0.0
mainland    0.0

[687 rows x 1 columns],               0
comparable  0.0
2005        0.0
most        0.0
grand       0.0
work        0.0
...         ...
1           0.0
centers     0.0
various     0.0
what        0.0
mainland    0.0

[687 rows x 1 columns],               0
comparable  0.0
2005        0.0
most        0.0
grand       0.0
work        0.0
...         ...
1           0.0
centers     0.0
various     0.0
what        0.0
mainland    0.0

[687 rows x 1 columns]]

In [59]:
# cosine similarity
def cosine(a, b):
    cos_sim = np.dot(a, b) / (np.linalg.norm(a) * np.linalg.norm(b))
    return cos_sim

In [60]:
# Find the scores of each doc in query
def score_for_query_in_each_doc(query_tfidf):
  scores_in_query = []
  for i in range(10):
    scores_in_query.append(['doc'+str(i+1),cosine(tfidf_mat.iloc[:, i], query_tfidf)] ) 
  return scores_in_query

In [68]:
scoress_in_query = [score_for_query_in_each_doc(query_tfidf) for  query_tfidf in querys_tfidf  ]

In [70]:
# Ranking the score
def Ranking(scores_in_query):
  scores_in_query.sort(key=lambda x: x[1], reverse=True)
  return scores_in_query[0:3]

In [73]:
rankings= [ Ranking(scores_in_query) for scores_in_query in scoress_in_query]
print(rankings[0])
print(rankings[1])
print(rankings[2])

[['doc1', array([0.25609208])], ['doc3', array([0.15101564])], ['doc9', array([0.10512846])]]
[['doc9', array([0.47951227])], ['doc8', array([0.10449991])], ['doc4', array([0.02329621])]]
[['doc8', array([0.2498428])], ['doc6', array([0.03170604])], ['doc7', array([0.02970755])]]

# Question 2

Check the following regular expressions, and find the matched options. Then, provide a brief explanation of the regular expressions.

(1) ‘^[A-Z]\d\d\s[3-6]+’

[1] ‘B11 234’ [2] ‘bB11 234’ [3] ‘bB11 23z4’

In [75]:
import re

rule = r'^[A-Z]\d\d\s[3-6]+'
p = re.compile(rule)
query1 = 'B11 234'
query2 = 'bB11 234'
query3 = 'bB11 23z4'
m = p.match(query3)
m

It has to match a string starting with capital letter, two decimal digits, whitespace and at least one character with 3-6.

None of the options match this regular expression.

(2) ‘db\d{5}@um\.edu\.mo’

[1] ‘db123@um.edu.mo [2] ‘dbc123@um.edu.mo’ [3] ‘ab12345@um.edu.mo’

In [76]:
import re

rule = r'db\d{5}@um\.edu\.mo'
p = re.compile(rule)
query1 = 'db123@um.edu.mo'
query2 = 'dbc123@um.edu.mo'
query3 = 'ab12345@um.edu.mo'
m = p.match(query3)
m

It has to match a string with db, exactly 5 decimal digits and @um.edu.mo

None of the options match this regular expression.

(3) ‘^\-\d+\.\d{2}’

[1] ‘-12.1’ [2] ‘-12.10’ [3] ‘-1.210’

In [77]:
import re

rule = r'^\-\d+\.\d{2}'
p = re.compile(rule)
query1 = '-12.1'
query2 = '-12.10'
query3 = '-1.210'
m = p.match(query3)
m

It has to match a string starting with Hyphen(-), at least one decimal digit, a dot(.) and exactly 2 decimal digits.

Query 2 matches this regular expression.

(4) ‘\_{2}[a-z]*\_$’

[1] ‘_ab__’ [2] ‘\__aB_’ [3] ‘__abcdfg_’

In [78]:
import re

rule = r'\_{2}[a-z]*\_$'
p = re.compile(rule)
query1 = '_ab__'
query2 = '__aB_'
query3 = '__abcdfg_'
m = p.match(query1)
m

A string with exactly two underscores(\_), any number of lower letter in between and ending with one underscore(\_).

Query 3 matches this regular expression.

(5) ‘[a-z|A-Z]+12345\\_’

[1] ‘ab12345_’ [2] ‘aB12345_’ [3] ‘1a2345_’

In [79]:
import re

rule = r'[a-z|A-Z]+12345'
p = re.compile(rule)
query1 = 'ab12345_'
query2 = 'aB12345_'
query3 = '1a2345_'
m = p.match(query1)
m

[a-z|A-Z] means all letters no matter uppercase or lower cases 
[a-z|A-Z]+ means length at least one 
12345 is just simple text that matched 
so [a-z|A-Z]+12345 means match there is at least one letter no matter uppercase or lowercase before the text 12345 
Query1 and Query2 match this regular expression.